a, a:visited {
	text-decoration: none;
	color: blue;
}

form {
	margin-bottom: 10px;
}

table {
	margin-top: 20px;
	border: 0;
	border-collapse: collapse;
	width: 100%;
}

tr {
	border-bottom: 1px solid black;
}

td:first-child {
	background-color: lightgrey;
	padding-right: 10px;
}
td:nth-child(2) {
	background-color: lightgreen;
}
td:nth-child(3) {
	padding-left: 10px;
	width: 100%;
}
